footer {
    margin-top: 80px;
    margin-bottom: 20px;

    .flex {
        justify-content: space-between;
    }

    .footer-logo-holder {
        animation-delay: .5s;
        .mkm-logo {
            height: 40px;
        }
    }

    .footer-contact-details {
        margin-top: 15px;
        animation-delay: .5s;
        a {
            color: $darkblue;
            text-decoration: none;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        margin-top: 50px;
        .flex {
            flex-wrap: wrap;
        }

        .footer-logo-holder {
            margin-bottom: 20px;
        }
    }
}