/* On screens larger than 818px, remove the menu link and display all menu items */
@media screen and (min-width: 1000px) {
  .js .nav ul {
    overflow: auto;
    max-height: inherit; 
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }
  .js .nav li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }
  .js .nav li:last-child {
    border: 0;
  }
  .js .nav .skip {
    display: none;
    visibility: hidden;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 991px) 

}