body {
    background-color: #FFFDF2;
    height: 90vh;
    margin: 0;
}

@import 'colours';
@import 'fonts/font';
@import 'fonts';
@import'layout';
@import 'nav';
@import'itinerary';
@import'info';
@import'footer';

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-page {
    display: flex;
    justify-content: space-between;
}

.landing-holder {
    margin-top: 10px;
    position: relative;
    
    .mkm-logo-white {
        height: 60px;
    }
    img {
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.coronavirus {
    background: $darkblue;
    position: fixed;
    bottom: 0;
    width: 99%;
    z-index: 1001;
    text-align: center;
    padding: 32px 15px 8px 15px;

    &--hidden {
        display: none;
    }

    &-wrapper {
        max-width: 860px;
        margin: 0 auto;
    }

    &-read-more {
        display: none;

        &--active {
            display: block;
        }
    }

    p {
        color: #fff;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 20px;

        strong {
            font-size: 16px;
            line-height: 27px;

            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .coronavirus-title {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        p {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0;
            padding-top: 3px;
        }

        svg {
            width: 24px;
            height: 32px;
            margin-right: 20px;

            path {
                fill: #9abf6a;
            }
        }
    }

    button {
        width: 20px;
        height: 20px;
        opacity: 1;
        text-shadow: none;
        float: none;
        background: #fff;
        color: $darkblue;
        position: absolute;
        right: 25px;
        top: 15px;
        border-radius: 50%;

        span {
            font-size: 20px;
            position: absolute;
            top: -4px;
            left: 3px;
        }

        &:hover,
        &:focus {
            opacity: 1;
            color: $darkblue;
        }
    }
}