body {
    background-color: #FFFDF2;
    height: 90vh;
}

$darkblue: #052d44;
$cream: #fffdf2;

@import 'fonts/font';
@import 'nav';

h1 {
    font-family: 'valenciaregular';
    font-size: 55px;
    color: #c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../images/gold.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.title {
    font-family: 'valenciaregular';
    font-size: 35px;
    margin-bottom: 20px;
    -webkit-text-fill-color: $darkblue;
    animation-delay: .5s;
}

h2 {
    font-family: 'valenciaregular';
    font-size: 30px;
    color: #fffdf2;
}

h3 {
    font-family: interstate, sans-serif;
    font-weight: 700px;
    font-size: 20px;
    color: #fffdf2;
}

p {
    margin: 0 auto;
    font-family: interstate, sans-serif;
    font-size: 15px;
    color: $darkblue;
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-page {
    display: flex;
    justify-content: space-between;
}

.landing-holder {
    margin-top: 20px;
    position: relative;
    img {
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.copy-holder {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 21%;
    text-align: center;
    animation-delay: 5.2s;

    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p {
        margin: 0 auto;
        width: 45%;
        font-family: interstate, sans-serif;
        font-size: 18px;
        color: #fffdf2;
    }

    .reg-btn {
        text-transform: uppercase;
        margin: 0 auto;
        width: 20%;
        background: -webkit-linear-gradient(transparent, transparent),
        url(../images/gold.jpg) repeat;
        background: -o-linear-gradient(transparent, transparent);
        padding: 1px 1px;
        h3 {
            background-color: #052d44;
            padding: 10px 15px;
            margin: 0;
        }

        a {
            text-decoration: none;
        }
    }
}

.content-holder {
    margin-top: 15%;
}

.column-1 {
    max-width: 45%;

    p {
        animation-delay: .5s;
    }

    .reg-now {
        width: 40%;
        text-align: center;
        border: 1px solid $darkblue;
        padding: 1px 1px;
        margin-top: 30px;
        animation-delay: .5s;

        h3 {
            font-size: 16px;
            margin: 0;
            padding: 5px;
            text-transform: uppercase;
            color: $darkblue;
        }

        a {
            text-decoration: none;
        }

        &:hover {
            border: 1px solid #f2d77c;
            transition: .2s;
            h3{
                color: #f2d77c;
                transition: .2s;
            }
        }
    }
}

.column-2 {
    max-width: 45%;
    img {
        width: 100%;
        animation-delay: .5s;
    }

    .gold {
        position: relative;
        top: 0;
        left: 0;
    }

    .image {
        position: absolute;
        top: 60px;
      left: 80px;
    }
}




