body {
    background-color: #FFFDF2;
    height: 90vh;
}

@import 'colours';
@import 'fonts/font';
@import 'fonts';
@import'layout';
@import 'nav';
@import'itinerary';
@import'info';
@import'footer';

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-page {
    display: flex;
    justify-content: space-between;
}

.landing-holder {
    margin-top: 10px;
    position: relative;
    
    .mkm-logo-white {
        height: 60px;
    }
    img {
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}